
<PageTitle>Profiles</PageTitle>

<h2 class="profiles-title">Profiles</h2>

<div class="profiles-list">
    <ProfileCard />
</div>


<style>
.profiles-title {
    text-align: center;
    margin-top: 2rem;
    font-size: 2.2rem;
    color: #333;
}

.profiles-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 2rem 0;
}
</style>
